@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    width: 100%;
    color: black;
}

.section-container {
    background-color: white;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1300px;
}

button{
    background-color: orange;
    border: 0px solid orange;
    border-radius: 10px;
    outline: none;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s linear;
    }

button:hover {
    background-color: white;
    color: orange;
    border: 0px solid orange;
    transition: all 0.4s linear;
}

.section-title{
    font-weight: 700;
    font-size: 28px;
}

.section-p{
    font-size: 12px;
    font-weight: 300;
}

.section-p-small {
    font-size: 10px;
    font-weight: 300;
}


/*header*/

.header-container{
    position: sticky;
    top: 0%;
    z-index: 9999;
}

.header{
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
    position: sticky;
    top: 0%;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 10%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    gap: 60px;
}

.navbar i {  
    font-size: 40px;
    color: orange;
    cursor: pointer;
    display: none;  
    
}

#toggle-menu{
display: none;
}

.navbar a {
    color: orange;
    font-size: 19px;
}

.navbar-list li:last-child > a {
    border: 1px solid orange;
    font-size: 19px;
    padding: 8px 40px;
    border-radius: 10px;
    transition: all 0.3s linear; 
}

.navbar-list li:last-child > a:hover {
    background-color: orange;
    color: white;
    transition: all 0.3s linear;
    font-weight: 600px;
}

@media (max-width: 992px) {
.header{
    padding: 0px 50px 0px 10px
}
.navbar i {
    display: flex;
}

.navbar-list {
    position: absolute;
    background-color: white;
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: none;
    z-index: 9999;
}

#toggle-menu:checked + .navbar-list{
    display: flex;
}
}

#inicio {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
}


.description-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 40px
}

.text-container {
    max-width: max(40%, 300px);    
}

.text-container h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    
}

.text-container{
    font-size: 15px;
    font-weight: 300;
    gap: 60px;
}

.inicio-img {
    background-image: url(./assets/3186532.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
    width: 60%;
    height: 350px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .inicio-img {
        display: none;
    }
    .description-container{
        justify-content: center;
        align-items: center;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#about-us{
    gap: 15%;
    flex: wrap;
}

.about-img {
    background-image: url(./assets/friends-attending-online-classes-together.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 400px;
    border-radius: 5px;
    }

.about-content{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-cards-container {
    display: flex;
    gap: 30px;

}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    height: 60px;
    width: 100px;
    border-radius: 5px;
}

.about-card span {
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 768px) {
    #about-us {
        flex-direction: column;
        gap: 20px;
    }
}

/*Cursos*/

#cursos{
    flex-direction: column;
    width: min(600px 90%);
    gap: 40px
}

.cursos-title-container {
    text-align: center;
    width: 85%;
}

.cursos-card-containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.curso-card{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
    width: min(70vw, 600px);
    height: 100px;
    background-color: wheat;
}

.curso-info{
    display: flex;
    flex-direction: column;
}

.i {
    font-size: 20px;
}

.divider {
    width: min(90%, 600px);
    margin-top: 80px;
    height: 3px;
    background-color: darkgoldenrod;
}

@media (max-width: 576px) {
    .curso-card{
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 30px 0px;
        text-align: center;
        gap: 15px;
    }

    .curso-info {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .i {
        font-size: 20px;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 70px;
    padding: 30px;
}

.footer.msg {
    text-align: justify;
    font-weight: 700;
    font-size: 24px;
    max-width: 450px;
}

.font-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 12px;
    min-height: 100px;
}

.footer-social i:last-child{
    margin-left: 10px;    
}

.footer-terms {
    display: flex;
    gap: 20px;
}

.footer-terms a {
    color: orange;
    font-weight: 300;
}

@media (max-width:945px){
    .footer{
        gap: 40px;
    }

    .footer.msg{
        max-width: 600px;
        justify-content: center;
        text-align: center;
    }

    .footer-info{
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .footer-terms{
        justify-content: center;
        text-align: center;
    }
}