@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    background: white;
    height: 100%;
    font-size: 14px;
}


.container {
    font-family: "Roboto" , sans-serif ;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: wheat;
    padding: 50px;
    border: 1px solid orange;
    border-radius: 10px;
    gap: 20px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid orange;
    padding: 20px;
}

input:focus {
    outline: none;
}

input[type="submit"]{
    background-color: orange;
    border: 0px solid orange;
    border-radius: 10px;
    outline: none;
    height: 50px;    
    cursor: pointer;
    transition: all 0.3s linear;
    align-items: center;
    
}

input[value="Ingresar"]{
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.login a {
    text-decoration: underline ;
    color: black;
    
}

.login a:hover{
    text-decoration: underline;
    color: black;
}
